Package: luv.bedtime.mooncake
Name: Mooncake 🥮
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bedtime-x-stackoverflow
Author: bedtime-x-stackoverflow
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
