Package: luv.bedtime.mooncake
Name: Mooncake 🥮
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bedtime
Author: bedtime
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.16)
